sbgnpdschema/src/main/xsd/SBGN-ext.xsd

<schema targetNamespace="http://www.miravtech.com/SBGN" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:sbgn="http://www.miravtech.com/SBGN" attributeFormDefault="unqualified"
	elementFormDefault="unqualified">


	<redefine schemaLocation="SBGN.xsd">

		<annotation>
			<documentation>
				Additions of the DC Thera group to the standard SBGN
				data model.
			</documentation>
		</annotation>

		<complexType name="SBGNGlyphType">

			<complexContent>
				<extension base="sbgn:SBGNGlyphType">


					<sequence>
						<element name="Finding" minOccurs="0" maxOccurs="unbounded"
							type="sbgn:FindingType" />
						<element name="PMID" type="integer" minOccurs="0"
							maxOccurs="unbounded" />
					</sequence>

					<attribute name="selected" type="sbgn:SelectType">
						<annotation>
							<documentation>
								The result after running a query, for each entry.
							</documentation>
						</annotation>
					</attribute>
				</extension>
			</complexContent>
		</complexType>

		<!--
			the root element may contain findings, considered default for the
			rest of the items
		-->
		<complexType name="SBGNPDL1Type">
			<complexContent>
				<extension base="sbgn:SBGNPDL1Type">
					<sequence>
						<element name="Finding" minOccurs="0" maxOccurs="unbounded"
							type="sbgn:FindingType" />
						<element name="PMID" type="integer" minOccurs="0"
							maxOccurs="unbounded" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>

		<complexType name="SBGNNodeType">
			<complexContent>
				<extension base="sbgn:SBGNNodeType">
					<sequence>
						<element name="MacroModule" type="string" minOccurs="0"
							maxOccurs="unbounded">
							<annotation>
								<documentation>Added according to the conversation from December
									22rd. Possible values, as per discussion:
									Receptor sensing,
									Production, Outcome.
								</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>


		<complexType name="ProcessType">
			<complexContent>
				<extension base="sbgn:ProcessType">
					<sequence>
						<element name="ReactionType" type="sbgn:ReactionTypeEnum"
							minOccurs="0">
							<annotation>
								<documentation>Reaction type belongs only to the process.
								</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>


		<complexType name="ComplexType">
			<complexContent>
				<extension base="sbgn:ComplexType">
					<attribute name="type" default="And">
						<simpleType >
							<restriction base="string">
								<enumeration value="Or"></enumeration>
								<enumeration value="And"></enumeration>
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</complexContent>
		</complexType>

		<complexType name="StatefulEntiyPoolNodeType">
			<complexContent>
				<extension base="sbgn:StatefulEntiyPoolNodeType">
					<sequence>
						<element name="Organism" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>The IDs of the gene as described in various
									databases.
									Complexes should not have this entry, since the
									ID is
									provided at the single gene level.
								</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="annotation" maxOccurs="unbounded">
										<annotation>
											<documentation>A single ID and it's database. Sample:
												ID="1234" DB="EntrezGeneID"
								</documentation>
										</annotation>
										<complexType>
											<attribute name="DB" type="string"></attribute>
											<attribute name="ID" type="string"></attribute>
										</complexType>
									</element>
								</sequence>
								<attribute name="name" />
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</redefine>



	<simpleType name="SelectType">
		<restriction base="string">
			<enumeration value="exclude">
				<annotation>
					<documentation>
						The selected attribute is "exclude" if the
						finding
						list of the
						glyph did not match the query
								</documentation>
				</annotation>
			</enumeration>
			<enumeration value="include">
				<annotation>
					<documentation>
						The selected is "include" if the finding list of
						the
						glyph matched
						the query
								</documentation>
				</annotation>
			</enumeration>
			<enumeration value="affected">
				<annotation>
					<documentation>
						The selected is "affected" if the finding list of
						the glyph matched
						the query but the containing process is
						affected
						by a disabled glyph.
								</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ReactionTypeEnum">
		<annotation>
			<documentation>
				The list of possible reaction types (sub-type of
				string).	
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Enzimatic reaction"></enumeration>
			<enumeration value="Transference"></enumeration>
			<enumeration value="Oxidation/reduction"></enumeration>
			<enumeration value="Lyase process"></enumeration>
			<enumeration value="Hydrolysis"></enumeration>
			<enumeration value="Ligation"></enumeration>
			<enumeration value="Isomerization"></enumeration>
			<enumeration value="Degradation"></enumeration>
			<enumeration value="Non enzimatic reaction"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="OrganismEnum">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Homo sapiens"></enumeration>
			<enumeration value="Mus musculus"></enumeration>
			<enumeration value="Fungi"></enumeration>
			<enumeration value="Other"></enumeration>
		</restriction>
	</simpleType>






	<simpleType name="OrganismPartEnum">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Pheripheral Blood"></enumeration>
			<enumeration value="Spleen"></enumeration>
			<enumeration value="Peripheral Lymph Node"></enumeration>
			<enumeration value="Mesenteric Lymph Node"></enumeration>
			<enumeration value="Bone Marrow"></enumeration>
			<enumeration value="Peyer's Patches"></enumeration>
			<enumeration value="Colon"></enumeration>
			<enumeration value="Tumor Biopsy"></enumeration>
			<enumeration value="Thymus"></enumeration>
			<enumeration value="Intestinal mucosa"></enumeration>
			<enumeration value="Nervous system"></enumeration>
			<enumeration value="Kidney"></enumeration>
			<enumeration value="Uterus"></enumeration>
		</restriction>
	</simpleType>


	<simpleType name="CellTypeEnum">
		<annotation>
			<documentation>
				The cell type where the reaction happens.
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Macrophage"></enumeration>
			<enumeration value="Monocyte"></enumeration>
			<enumeration value="T cell"></enumeration>
			<enumeration value="Dendritic cells (DC)"></enumeration>
			<enumeration value="Myeloid"></enumeration>
			<enumeration value="Plasmacytoid"></enumeration>
			<enumeration value="Interferon producing killer"></enumeration>
			<enumeration value="Follicular"></enumeration>
			<enumeration value="Spleen derived"></enumeration>
			<enumeration value="Monocyte derived"></enumeration>
			<enumeration value="Langerhans cell (LC)"></enumeration>
			<enumeration value="Natural killer cell (NK)"></enumeration>
			<enumeration value="Intestinal epithelial cell (IEC)"></enumeration>
			<enumeration value="Embryonic cells"></enumeration>
			<enumeration value="B cell"></enumeration>
			<enumeration value="Kidney cell"></enumeration>
			<enumeration value="Fibroblast"></enumeration>
			<enumeration value="Cancer cell"></enumeration>
		</restriction>
	</simpleType>



	<simpleType name="ProvenInEnum">
		<annotation>
			<documentation>
				The cell type where the reaction was actually described as a result of experimental evidence.
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Macrophage"></enumeration>
			<enumeration value="Monocyte"></enumeration>
			<enumeration value="T cell"></enumeration>
			<enumeration value="Dendritic cells (DC)"></enumeration>
			<enumeration value="Langerhans cell (LC)"></enumeration>
			<enumeration value="Natural killer cell (NK)"></enumeration>
			<enumeration value="Intestinal epithelial cell (IEC)"></enumeration>
			<enumeration value="Fibroblasts"></enumeration>
			<enumeration value="Other"></enumeration>
			<enumeration value="Cell line"></enumeration>
			<enumeration value="HEK 293 cell line"></enumeration>
			<enumeration value="HeLa cell line"></enumeration>
			<enumeration value="COS-7 cell line"></enumeration>
			<enumeration value="Jurkat cell line"></enumeration>
			<enumeration value="Precursor B cells"></enumeration>
			<enumeration value="RAW 264.7 cell line"></enumeration>
			<enumeration value="Raji cell line"></enumeration>
			<enumeration value="Mouse embryonic fibroblasts"></enumeration>
			<enumeration value="Not proven"></enumeration>
			<enumeration value="Bioinformatic inference"></enumeration>
			<enumeration value="Controversial"></enumeration>
			<enumeration value="Two-hybrid system"></enumeration>
		</restriction>
	</simpleType>



	<simpleType name="ExperimentDesignEnum">
		<annotation>
			<documentation>
			</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Ex-vivo"></enumeration>
			<enumeration value="In-vivo"></enumeration>
			<enumeration value="In-vitro"></enumeration>
			<enumeration value="RNAi"></enumeration>
			<enumeration value="Disease state"></enumeration>
			<enumeration value="Genetic Modification"></enumeration>
			<enumeration value="Microarray"></enumeration>
		</restriction>
	</simpleType>


	<complexType name="FindingType">
		<sequence>
			<element name="Organism" type="sbgn:OrganismEnum" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="OrganismPart" type="sbgn:OrganismPartEnum"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="CellType" type="sbgn:CellTypeEnum" minOccurs="0"
				maxOccurs="unbounded" />
			<!--
				<element name="Localization" type="string" minOccurs="0" />
			-->
			<element name="ProvenIn" type="sbgn:ProvenInEnum" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="ExperimentDesign" type="sbgn:ExperimentDesignEnum"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="ReactionType" type="sbgn:ReactionTypeEnum"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="PMID" type="integer" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>




</schema>
    
